[submodule "azure-pipelines-task-lib"]
	path = azure-pipelines-task-lib
	url = https://github.com/microsoft/azure-pipelines-task-lib.git
[submodule "dotnet-common"]
	path = dotnet-common
	url = https://github.com/thnetii/dotnet-common.git
